.Players {
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
}

.player-card{
    margin: auto;
    text-align: center;
}
.player-img {
    border-radius: 35px;
    margin: auto;
    background-color: rgb(45, 0, 128);
    cursor: pointer;
}

